.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
docs/**
out/test/**
out/commands/**
out/util/**
.gitignore
.claude/**
pnpm-lock.yaml
esbuild.mjs
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
